{% load i18n %}
{% load showcase_tags %}

  <nav class="navbar navbar-dark bg-dark py-4">
    <div class="container-fluid">

      <button class="navbar-toggler navbar-toggler-icon:focus" style="box-shadow:none; border: 0px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand mx-auto fixed-top position-relative" href="{% url 'showcase:showcase' %}" >
        <img class="hb-gallery ms-5" src="{{ STATIC_URL }}img/HumanHub_navbar.png"></a>

      <div class="mx-2" style="float:right;">
        <a class="hb-cart-link visible-xs-inline-block hb-mobile-cart" id="show-cart-modal" data-bs-toggle="modal" data-bs-target="#hb-cart-modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
             <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
             </svg> | <span id="hb-cart-total">{{ request.cart_amount }}</span>
        </a>
      </div>

    </div>
  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4 hb-main-menu-background-color">

        <form class="d-flex" style="font-family: IBM Plex Mono;">
          <button class="btn ms-2 btn-outline-secondary rounded-0 hb-main-menu-color" type="submit" style="font-family: IBM Plex Mono;">{% trans 'Search' %}</button>
            <input class="form-control mx-2 bg-transparent rounded-0 hb-main-menu-color" style="font-family: IBM Plex Mono;" type="search" placeholder="{% trans 'Type what to search' %}" aria-label="Search">
        </form>

        <div class="dropdown mt-3">
            <div class="select">
                <button class="btn btn-outline-secondary dropdown-toggle btn-sm mb-0 h1 fs-5 hb-main-menu-color" style="box-shadow:none; border: 0px !important; font-family: IBM Plex Mono;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                  {% trans 'Currency' %}
                </button>
                <input type="hidden" name="lang">
                <ul class="dropdown-menu val dropdown-menu-dark mb-0 h1 fs-5" aria-labelledby="dropdownMenuButton1">
                  <li class="ms-3 mb-3" style="font-family: IBM Plex Mono;" id="grn">{% trans 'UAH' %}</li>
                  <li class="ms-3 my-3" style="font-family: IBM Plex Mono;" id="usd">{% trans 'USD' %}</li>
                  <li class="ms-3 mt-3" style="font-family: IBM Plex Mono;" id="eur">{% trans 'EUR' %}</li>
                </ul>
            </div>
        </div>

        <div class="dropdown mt-1">
            <div class="select">
                <button class="btn btn-outline-secondary dropdown-toggle btn-sm mb-0 h1 fs-5 hb-main-menu-color" style="box-shadow:none; border: 0px !important; font-family: IBM Plex Mono;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                  {% trans 'Language' %}
                </button>
                <input type="hidden" name="lang">
                <ul class="dropdown-menu lang dropdown-menu-dark mb-0 h1 fs-5" aria-labelledby="dropdownMenuButton1">
                  <li class="ms-3 mb-3" style="font-family: IBM Plex Mono;" id="en">{% trans 'English' %}</li>
                  <li class="ms-3 my-3" style="font-family: IBM Plex Mono;" id="uk">{% trans 'Ukrainian' %}</li>
                  <li class="ms-3 mt-3" style="font-family: IBM Plex Mono;" id="ru">{% trans 'Russian' %}</li>
                </ul>
            </div>
        </div>

          <ul class="nav navbar-nav navbar-right ms-2 mt-3 mb-0 h1 fs-5">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" href="{% url 'info:about' %}" style="font-family: IBM Plex Mono;" title="{% trans 'About project' %}">
                  {% trans 'About project' %}
                </a>
            </li>
          </ul>

            {% get_categories request %}

          <ul class="nav navbar-nav navbar-right ms-2 mt-4 mb-0 h1 fs-5">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" style="font-family: IBM Plex Mono;" href="{% url 'info:discounts' %}" title="{% trans 'Discounts' %}">
                  {% trans 'Discounts' %}
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ms-2 mb-0 h1 fs-5">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" style="font-family: IBM Plex Mono;" href="{% url 'info:sizing' %}" title="{% trans 'Sizing' %}">
                  {% trans 'Sizing' %}
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ms-2 mb-0 h1 fs-5">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" style="font-family: IBM Plex Mono;" href="{% url 'info:shipping' %}" title="{% trans 'Shipping' %}">
                  {% trans 'Shipping' %}
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ms-2 mb-0 h1 fs-5">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" style="font-family: IBM Plex Mono;" href="{% url 'info:refund' %}#payment" title="{% trans 'Purchase returns' %}">
                  {% trans 'Purchase returns' %}
                </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right ms-2 mt-4 mb-0 h1 fs-5 ">
            <li class="nav-item visible-xs">
                <a class="nav-link hb-main-menu-color" style="font-family: IBM Plex Mono;" href="{% url 'info:contacts' %}" title="{% trans 'Contacts' %}">
                  {% trans 'Contacts' %}
                </a>
            </li>
          </ul>

  </div>
  </div>
