{% load i18n %}
<nav class="navbar navbar-inverse ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header hu-navbar-collapse">

      <button type="button" class="navbar-toggle hu-navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <ul class="nav navbar-nav navbar-center">
          <li class="nav-item">
          </li>
        </ul>
      {% if request.user.is_staff %}
<!--        <ul class="nav navbar-nav">-->
<!--          <li class="nav-item"><a class="cc-main-menu-color" href="{% url 'main_info' %}" title="{% trans 'Mod' %}">-->
<!--            {% trans 'Mod' %}-->
<!--          </a></li>-->
<!--        </ul>-->
      {% else %}

<!--        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
          <a class="navbar-brand" href="{% url 'showcase:showcase' %}">
            <img class="cc-gallery" src="{{ STATIC_URL }}img/Human Hub_logo_for_site_only_Hu.png">
          </a>
        </div>
<!--        {% if request.cart_amount %}-->
<!--          <div style="float:right;">-->
<!--            <a class="cc-cart-link visible-xs-inline-block cc-main-menu-color cc-mobile-cart" href="#" data-toggle="modal" data-target="#cc-cart-modal">-->
<!--              <b><span class="icon-cart cs-icon-shopping-cart"></span> | </b><span id="cc-cart-total">{{ request.cart_amount }}</span>-->
<!--            </a>-->
<!--          </div>-->
<!--        {% endif %}-->
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="main-nav" class="collapse navbar-collapse hu-navbar-collapse">

      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">

          <ul class="nav navbar-nav navbar-left">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" title="{% trans 'Search' %}">
                {% trans 'Search' %}
              </a>
            </li>
          </ul>



          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" title="{% trans 'Currency' %}">
                {% trans 'Currency' %}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" title="{% trans 'Language' %}">
                {% trans 'Language' %}
              </a>
            </li>
          </ul>



          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:about' %}" title="{% trans 'About project' %}">
                {% trans 'About project' %}
              </a>
            </li>
          </ul>



          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'showcase:category_page' %}" title="{% trans 'Category_1' %}">
                {% trans 'Category_1' %}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'showcase:category_page' %}" title="{% trans 'Category_2' %}">
                {% trans 'Category_2' %}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'showcase:category_page' %}" title="{% trans 'Category_3' %}">
                {% trans 'Category_3' %}
              </a>
            </li>
          </ul>




          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:discounts' %}" title="{% trans 'Discounts' %}">
                {% trans 'Discounts' %}
            </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:sizing' %}" title="{% trans 'Sizing' %}">
                {% trans 'Sizing' %}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:shipping' %}" title="{% trans 'Shipping' %}">
                {% trans 'Shipping' %}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:refund' %}#payment" title="{% trans 'Purchase returns' %}">
                {% trans 'Purchase returns' %}
            </a>
            </li>
          </ul>



          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item visible-xs">
              <a class="nav-link cc-main-menu-color" href="{% url 'info:contacts' %}" title="{% trans 'Contacts' %}">
                {% trans 'Contacts' %}
            </a>
            </li>
          </ul>



<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li class="nav-item visible-xs">-->
<!--              <a class="nav-link cc-sn cc-main-menu-color" href="https://www.facebook.com" rel="nofollow" target="_blank">-->
<!--                <img src="{{ STATIC_URL }}img/facebook-icon-w.png"> https://www.facebook.com-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->

<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li class="nav-item visible-xs">-->
<!--              <a  class="nav-link cc-sn cc-main-menu-color" href="https://www.instagram.com" rel="nofollow" target="_blank">-->
<!--                <img src="{{ STATIC_URL }}img/instagram-icon-w.png"> https://www.instagram.com-->
<!--            </a>-->
<!--            </li>-->
<!--          </ul>-->

<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            {% if request.cart_amount %}-->
<!--              <li class="nav-item hidden-xs">-->
<!--                <a class="cc-cart-link cc-main-menu-color" href="#" data-toggle="modal" data-target="#cc-cart-modal">-->
<!--                  <b><span class="icon-cart cs-icon-shopping-cart"></span> | </b><span id="cc-cart-total">{{ request.cart_amount }}</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            {% else %}-->
<!--              <li class="nav-item cc-nav-cart">-->
<!--                <b><span class="icon-cart cs-icon-shopping-cart"></span> | </b>{% trans 'Empty' %}-->
<!--              </li>-->
<!--            {% endif %}-->
<!--          </ul>-->

<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li class="nav-item cc-nav-lang">-->
<!--              <select class="form-control" id="cc-valuta">-->
<!--                <option {% if request.session.valuta == "grn" %} selected {% endif %} value="grn" title="grn">&#8372</option>-->
<!--                <option {% if request.session.valuta == "usd" %} selected {% endif %} value="usd" title="usd">&#36</option>-->
<!--                <option {% if request.session.valuta == "eur" %} selected {% endif %} value="eur" title="eur">&#8364</option>-->
<!--              </select>-->
<!--            </li>-->
<!--          </ul>-->

<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li class="nav-item cc-nav-lang">-->
<!--              <select name="language" class="form-control" id="cc-language">-->
<!--                <option {% if LANGUAGE_CODE == "en" %} selected {% endif %} value="en" title="English">Eng</option>-->
<!--                <option {% if LANGUAGE_CODE == "ru" %} selected {% endif %} value="ru" title="Русский">Рус</option>-->
<!--                <option {% if LANGUAGE_CODE == "uk" %} selected {% endif %} value="uk" title="Українська">Укр</option>-->
<!--              </select>-->
<!--            </li>-->
<!--          </ul>-->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
