{% extends "base.html" %}

{% block content %}

    <div class="row">
        <img class='img-fluid w-100' src="{{ STATIC_URL }}img/HumanBanner.png" alt="" />
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="text-center w-5">
                    <div class="col-5 mt-5 mb-5 mx-auto position-relative">ITEM PAGE HERE</div>
                    <img class="w-50 p-3 mt-5" src="{{ STATIC_URL }}img/HumanHub_logo_2-01inv.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}