{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% load showcase_tags %}

<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7 text-center mx-auto">

        <div class="col-xs-9 col-sm-9 col-md-12 col-lg-12 text-center mx-auto">
            <img class='img-fluid w-80' src="{{ MEDIA_URL }}{{ banner.image_category }}" alt=""/>
        </div>


        <div class="container mt-1 footer-border-color-black border-bottom col-10">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="text-center w-5">
                        <label class="toggle">
                            <span class="onoff"></span>
                                <input type="checkbox"/>
                                    <img class="w-5 p-3 mt-1" id="icontoggler" onclick="changeImage()" style="height:50px;" src="{{ STATIC_URL }}img/category_toggle.png">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container--wide">
            <div class="row mt-4 collection-template__products" id="category-style">

                {% if items %}
                {% for item in items %}
                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' item.id  %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:100%;" src="{{ MEDIA_URL }}{{ item.image }}"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page kuku">{{ item.name }}</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">{% get_price_itempage request item.id %}</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4 choose-size" style="width: 100%;" data-id="{{ item.id }}" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/category_page.js"></script>
{% endblock %}