{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load showcase_tags %}

{% block title %}{{ title_tag }}{% endblock %}
{% block description %}{{ description_tag }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7 text-center mx-auto">

            <img class='img-fluid w-80' src="{{ MEDIA_URL }}{{ banner.image_showcase }}" alt="" />

    <!--   CATEGORY   -->
        {% for category in categories %}
        <!--   TWO FIRST ITEMS IN CATEGORY   -->
        <div class="container--wide">
            <div class="row mt-4 collection-template--column-view">

                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' category.0.0.id %}">
                        <img class='img-fluid' style="height:auto; width:100%;" src="{{ MEDIA_URL }}{{ category.0.0.image }}"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">{{ category.0.0.name }}</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">{% get_price_itempage request category.0.0.id %}</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class=" btn btn-dark rounded-0 col-4 choose-size-showcase" style="width: 100%;" data-id="{{ category.0.0.id }}" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                {% if category.0.1 %}
                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' category.0.1.id %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:100%;" src="{{ MEDIA_URL }}{{ category.0.1.image }}"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">{{ category.0.1.name }}</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">{% get_price_itempage request category.0.1.id %}</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4 choose-size-showcase" style="width: 100%;" data-id="{{ category.0.1.id }}" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!--   TWO FIRST ITEMS IN CATEGORY   -->

        <!--   CAROUSEL   -->
        <div id="carouselShowcasePage" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner carousel-inner-showcase">
            {% if category.1 %}
                {% for item in category.1 %}
                <div class="carousel-item carousel-item-showcase active" style="width: 20%;">
                    <div class="card-carousel-showcase">

                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' item.id %}" aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ MEDIA_URL }}{{ item.image }}"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page" style="white-space: normal;">{{ item.name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            {% endif %}

        </div>
        <!--   CAROUSEL   -->
        <div class="row">
            <a class="btn btn-dark btn-lg rounded-0 mt-5 mb-5 mx-auto" href="{% url 'showcase:category_page' category.2.id %}" role="button" style="font-family: IBM Plex Mono; height:auto; max-width:70%;">{% trans 'Go to' %} {{ category.2.name }}</a>
        </div>
        {% endfor %}
    <!--   CATEGORY   -->

    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/showcase.js"></script>
{% endblock %}