{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7 text-center mx-auto">

            <img class='img-fluid w-80' src="{{ STATIC_URL }}img/SomeBanner.png" alt="" />

    <!--   FIRST CATEGORY   -->
        <!--   TWO FIRST ITEMS IN CATEGORY   -->
        <div class="container--wide">
            <div class="row mt-4 collection-template--column-view">

                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">Product name</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">123 &euro;</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4" style="width: 100%;" id="choose-size" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">Product name</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">123 &euro;</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4" style="width: 100%;" id="choose-size" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--   TWO FIRST ITEMS IN CATEGORY   -->

        <!--   CAROUSEL   -->
        <div id="carouselShowcasePage" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner carousel-inner-showcase">

                <div class="carousel-item carousel-item-showcase active">
                    <div class="card-carousel-showcase">
                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page">Product name</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item-showcase">
                    <div class="card-carousel-showcase">
                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page">Product name</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item-showcase">
                    <div class="card-carousel-showcase">
                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}" aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page">Product name</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item-showcase">
                    <div class="card-carousel-showcase">
                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page">Product name</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-item-showcase">
                    <div class="card-carousel-showcase">
                        <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                        <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                            <div style="float: left;">
                                <h5 class="item-name-in-showcase-page">Product name</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        <!--   CAROUSEL   -->
        <div class="row">
            <a class="btn btn-dark btn-lg rounded-0 mt-5 mb-5 mx-auto" href="{% url 'showcase:category_page' %}" role="button" style="font-family: IBM Plex Mono; height:45px; width:250px;">GO TO CATEGORY</a>
        </div>
    <!--   FIRST CATEGORY   -->

    <!--   SECOND CATEGORY   -->
        <!--   TWO FIRST ITEMS IN CATEGORY   -->
        <div class="container--wide">
            <div class="row mt-4 collection-template--column-view">

                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">Product name</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">123 &euro;</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4" style="width: 100%;" id="choose-size" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card has-hover-image mb-3">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                        <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/>
                    </a>
                    <div class="container--wide" style="padding-right: 0px !important; margin-right: 0px; !important">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="row-full item-name-in-category-page">
                                    <span class="item-name-in-category-page">Product name</span>
                                </h3>
                                <div class="row item-price-category-page">
                                    <span style="float:left !important; margin-left: 0rem !important;">123 &euro;</span>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 0px !important;">
                                <button type="button" class="btn btn-dark rounded-0 col-4" style="width: 100%;" id="choose-size" data-bs-toggle="modal" data-bs-target="#hb-choose-size"><i class="bi bi-cart text-light"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--   TWO FIRST ITEMS IN CATEGORY   -->

        <!--   CAROUSEL   -->
        <div id="carouselShowcasePage" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner-showcase">

            <div class="carousel-item-showcase active">
                <div class="card-carousel-showcase">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                    <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                    <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                        <div style="float: left;">
                            <h5 class="item-name-in-showcase-page">Product name</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item-showcase active">
                <div class="card-carousel-showcase">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                    <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                    <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                        <div style="float: left;">
                            <h5 class="item-name-in-showcase-page">Product name</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item-showcase active">
                <div class="card-carousel-showcase">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                    <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                    <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                        <div style="float: left;">
                            <h5 class="item-name-in-showcase-page">Product name</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item-showcase active">
                <div class="card-carousel-showcase">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                    <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                    <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                        <div style="float: left;">
                            <h5 class="item-name-in-showcase-page">Product name</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item-showcase active">
                <div class="card-carousel-showcase">
                    <a class="product-card__link-overlay" href="{% url 'showcase:item_page' %}"  aria-label="">
                    <img class='img-fluid' style="height:auto; width:auto;" src="{{ STATIC_URL }}img/ProductImage.jpg"/></a>
                    <div class="card-body" style="justify-content: center; display: flex; align-items: center; padding-bottom: 0.2rem;">
                        <div style="float: left;">
                            <h5 class="item-name-in-showcase-page">Product name</h5>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselShowcasePage" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

            </div>
        </div>
        <!--   CAROUSEL   -->
        <div class="row">
            <a class="btn btn-dark btn-lg rounded-0 mt-5 mb-5 mx-auto" href="{% url 'showcase:category_page' %}" role="button" style="font-family: IBM Plex Mono; height:45px; width:250px;">GO TO CATEGORY</a>
        </div>
    <!--  SECOND CATEGORY   -->

    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/showcase.js"></script>
{% endblock %}