
    <div class="col">
        <div class="product-details mr-2">
            <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded bg-cart-modal-color">
                <div class="d-flex flex-row"><img class="rounded-0" src="{{ STATIC_URL }}img/ProductImage.jpg" width="100">
                    <div class="d-grid ms-4 gap-3" style="font-family: IBM Plex Mono;">
                        <div class="row">Product name</div>
                        <div class="row text-muted">Size</div>
                        <div class="row text-muted">Color</div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="d-block me-5">1 x</span>
                    <span class="d-block ml-5 font-weight-bold">123 &euro;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="product-details mr-2">
            <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded bg-cart-modal-color">
                <div class="d-flex flex-row"><img class="rounded-0" src="{{ STATIC_URL }}img/ProductImage.jpg" width="100">
                    <div class="d-grid ms-4 gap-3" style="font-family: IBM Plex Mono;">
                        <div class="row">Product name</div>
                        <div class="row text-muted">Size</div>
                        <div class="row text-muted">Color</div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="d-block me-5">1 x</span>
                    <span class="d-block ml-5 font-weight-bold">123 &euro;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height:20px;"></div>

    <div class="col-10 d-flex justify-content-center mx-auto p-4 border-top footer-border-color-black">
        <div class="mx-3" style="float:left;">TOTAL PRICE</div>
        <div class="mx-3" style="float:right;">246.00 &euro;</div>
    </div>





