{% load i18n %}
{% load static %}

<div class="col-10 d-flex justify-content-center mx-auto p-4 footer-border-color-black">
    <div class="mx-3" style="float:left;">{% trans 'Total price' %}</div>
    <div class="mx-3" id="cart_total_price" style="float:right;">{{ total_price }} {{ item.item.price_description }}</div>
</div>

<div class="container bg-cart-modal-color">
    <div class="py-3 text-center">
        <section class="row">
            <form class="needs-validation" id="checkout-html-form">

            <!--Customer information block -->
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-name" name="customer_name" placeholder="{% trans 'Type your first name' %}" value="">
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-surname" name="customer_surname" placeholder="{% trans 'Type your surname' %}" value="">
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-phone" name="customer_phone" placeholder="{% trans 'Type your phone' %}" value="">
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-email" name="customer_email" placeholder="{% trans 'Type your email' %}" value="">
                </div>
            <!--Customer information block -->

            <!--Delivery type block -->
                <span class="row mt-3 hb-main-menu-background-color" style="height:35px;">
                    <h4 class="mx-auto mt-1 align-middle" style="color:white;">{% trans 'Delivery type' %}</h4>
                </span>

                <div class="container mt-3 mb-3" style="float:left;">

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-worldwide" name="ordr-deliv-worldwide" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-worldwide">{% trans 'World wide' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-novpostobranch" name="ordr-deliv-novpostobranch" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-novpostodoor">{% trans 'NovaPoshta to branch' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-novpostodoor" name="ordr-deliv-novpostodoor" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-novpostodoor">{% trans 'NovaPoshta to the door' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-urkpostobranch" name="ordr-deliv-urkpostobranch" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostobranch">{% trans 'Ukrposhta to the branch' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-urkpostodoor" name="ordr-deliv-urkpostodoor" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostodoor">{% trans 'Ukrposhta to the door' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-justintobranch" name="ordr-deliv-justintobranch" type="checkbox" class="form-check-input" aria-expanded="false">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostodoor">{% trans 'Justin to the branch' %}</label>
                    </div>

                </div>

                <span class="row mt-4 hb-main-menu-background-color" style="height:35px;">
                  <h4 class="mx-auto mt-1 align-middle" style="color:white;">{% trans 'Delivery data' %}</h4>
                </span>
            <!--Delivery type block -->

            <!--Collapse if World wide -->
                <div id="collapseDeliveryWorldWide">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">

                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-country-world-wide" id="order-delivery-country-world-wide" placeholder="{% trans 'Enter country' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-world-wide" id="order-delivery-region-world-wide" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-world-wide" id="order-delivery-city-world-wide" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-street-world-wide" id="order-delivery-street-world-wide" placeholder="{% trans 'Enter street' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-building-world-wide" id="order-delivery-building-world-wide" placeholder="{% trans 'Enter building №' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-apartment-world-wide" id="order-delivery-apartment-world-wide" placeholder="{% trans 'Enter ap №' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-zipcode-world-wide" id="order-delivery-zipcode-world-wide" placeholder="{% trans 'Enter zip code №' %}" value="">
                        </div>
                    </div>
                </div>
            <!--Collapse if World wide -->

            <!--Collapse if NovaPoshta to the branch -->
                <div id="collapseDeliveryNovaPoshtaToBranch">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-np-to-branch" id="order-delivery-region-np-to-branch" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-np-to-branch" id="order-delivery-city-np-to-branch" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-office-np-to-branch" id="order-delivery-office-np-to-branch" placeholder="{% trans 'Enter post office №' %}" value="">
                        </div>
                    </div>
                </div>
            <!--Collapse if NovaPoshta to the branch -->

            <!--Collapse if NovaPoshta to the door -->
                <div id="collapseDeliveryNovaPoshtaToDoor">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">

                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-np-to-door" id="order-delivery-region-np-to-door" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-np-to-door" id="order-delivery-city-np-to-door" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-street-np-to-door" id="order-delivery-street-np-to-door" placeholder="{% trans 'Enter street' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-building-np-to-door" id="order-delivery-building-np-to-door" placeholder="{% trans 'Enter building №' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-apartment-np-to-door" id="order-delivery-apartment-np-to-door" placeholder="{% trans 'Enter ap №' %}" value="">
                      </div>
                    </div>
                </div>
            <!--Collapse if NovaPoshta to the door -->

            <!--Collapse if Ukrposhta to the branch -->
                <div id="collapseDeliveryUkrposhtaToBranch">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">

                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-ukrp-to-branch" id="order-delivery-region-ukrp-to-branch" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-ukrp-to-branch" id="order-delivery-city-ukrp-to-branch" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-office-ukrp-to-branch" id="order-delivery-office-ukrp-to-branch" placeholder="{% trans 'Enter post office №' %}" value="">
                        </div>
                    </div>
                </div>
            <!--Collapse if Ukrposhta to the branch -->

            <!--Collapse if Ukrposhta to the door -->
                <div id="collapseDeliveryUkrposhtaToDoor">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">

                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-ukrp-to-door" id="order-delivery-region-ukrp-to-door" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-ukrp-to-door" id="order-delivery-city-ukrp-to-door" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-street-ukrp-to-door" id="order-delivery-street-ukrp-to-door" placeholder="{% trans 'Enter street' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-building-ukrp-to-door" id="order-delivery-building-ukrp-to-door" placeholder="{% trans 'Enter building №' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-apartment-ukrp-to-door" id="order-delivery-apartment-ukrp-to-door" placeholder="{% trans 'Enter ap №' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-zipcode-ukrp-to-door" id="order-delivery-zipcode-ukrp-to-door" placeholder="{% trans 'Enter zip code №' %}" value="">
                        </div>
                    </div>
                </div>
            <!--Collapse if Ukrposhta to the door -->

            <!--Collapse if Justin to the branch -->
                <div class="collapse" id="collapseDeliveryJustinToBranch">
                    <div class="card card-body bg-cart-modal-color" style="border:0px;">

                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-region-justin-to-branch" id="order-delivery-region-justin-to-branch" placeholder="{% trans 'Enter region' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                            <input type="text" class="form-control rounded-0" name="order-delivery-city-justin-to-branch" id="order-delivery-city-justin-to-branch" placeholder="{% trans 'Enter city' %}" value="">
                        </div>
                        <div class="row d-flex justify-content-between align-items-center mt-3 mb-2">
                            <input type="text" class="form-control rounded-0" name="order-delivery-office-justin-to-branch" id="order-delivery-office-justin-to-branch" placeholder="{% trans 'Enter post office №' %}" value="">
                        </div>
                    </div>
                </div>
            <!--Collapse if Justin to the branch -->

            <!--Payment information block -->
                <span class="row mt-3 hb-main-menu-background-color" style="height:35px;">
                    <h4 class="mx-auto mt-1 align-middle" style="color:white;">{% trans 'Payment type' %}</h4>
                </span>

                <div class="container mt-3 mb-4" style="float:left;">

                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-visa-mstrcrd" name="ordr-pay-visa-mstrcrd" type="radio" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-visa-mstrcrd">{% trans 'Visa / Mastercard' %}</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-applepay" name="ordr-pay-applepay" type="checkbox" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-applepay">{% trans 'ApplePay' %}</label>
                    </div>
                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-googlepay" name="ordr-pay-googlepay" type="checkbox" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-googlepay">{% trans 'GooglePay' %}</label>
                    </div>
                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-paypal" name="ordr-pay-paypal" type="checkbox" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-paypal">{% trans 'PayPal' %}</label>
                    </div>
                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-bycard" name="ordr-pay-bycard" type="checkbox" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-bycard">{% trans 'Pay by card' %}</label>
                    </div>
                    <div class="form-check form-switch mt-2">
                        <input id="ordr-pay-cash-on-del" name="ordr-pay-cash-on-del" type="checkbox" class="form-check-input" aria-expanded="false">
                        <label class="form-check-label" style="float:left;" for="ordr-pay-cash-on-del">{% trans 'Cash on delivery' %}</label>
                    </div>
                </div>
            <!--Payment information block -->

                <div id="info-block"></div>

            </form>

            <div class="row col-12 mt-2 mx-auto">
                <button class="btn btn-dark col-5 rounded-0 mx-auto position-relative mt-5" id="pop-order-checkout" style="font-family: IBM Plex Mono;">{% trans 'Checkout' %}</button>
            </div>

        </section>
    </div>
</div>
{% block js %}
<script src="{{ STATIC_URL }}js/make_order.js"></script>
{% endblock %}