{% load i18n %}
{% load static %}

<div class="col-10 d-flex justify-content-center mx-auto mt-2 mb-4 p-2">
    <div class="mx-3" style="float:left;">TOTAL PRICE</div>
    <div class="mx-3" style="float:right;">246.00 &euro;</div>
</div>

<div class="container bg-cart-modal-color">
    <div class="py-3 text-center">
        <section class="row">
            <form class="needs-validation" id="checkout-html-form">

    <!--Customer information block -->
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-name" name="name" placeholder="Type your first name" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-surname" name="surname" placeholder="Type your surname" value="" required>
                        <div class="invalid-feedback">
                            Valid surname is required.
                        </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-phone" name="phone" placeholder="Type your phone" value="" required>
                        <div class="invalid-feedback">
                            Valid phone is required.
                        </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <input type="text" class="form-control rounded-0" id="order-email" name="email" placeholder="Type your email" value="" required>
                        <div class="invalid-feedback">
                            Valid email is required.
                        </div>
                </div>
    <!--Customer information block -->

    <!--Delivery information block -->
                <span class="row mt-3 hb-main-menu-background-color" style="height:35px;">
                    <h4 class="mx-auto mt-1 align-middle" style="color:white;">Delivery type</h4>
                </span>

                <div class="container mt-3 mb-3" style="float:left;">

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-worldwide" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-worldwide">World wide</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-novpostobranch" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-novpostodoor">NovaPoshta to branch</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-novpostodoor" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-novpostodoor">NovaPoshta to the door</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-urkpostobranch" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostobranch">Ukrposhta to the branch</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-urkpostodoor" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostodoor">Ukrposhta to the door</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                      <input id="ordr-deliv-justintobranch" name="DeliveryType" type="checkbox" class="form-check-input" required
                      data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseDeliveryInfo" aria-controls="collapseDeliveryInfo">
                      <label class="form-check-label" style="float:left;" for="ordr-deliv-urkpostodoor">Justin to the branch</label>
                    </div>

                </div>

              <span class="row mt-4 hb-main-menu-background-color" style="height:35px;">
                  <h4 class="mx-auto mt-1 align-middle" style="color:white;">Delivery data</h4>
              </span>

              <!--Collapse if NovaPoshta to the branch -->
              <div class="collapse" id="collapseDeliveryInfo">
                <div class="card card-body bg-cart-modal-color" style="border:0px;">

                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-country-world-wide" id="order-delivery-country" placeholder="Enter country" value="" required="">
                        <div class="invalid-feedback">
                            Valid country is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-region-np-to-branch" id="order-delivery-region" placeholder="Enter region" value="" required="">
                        <div class="invalid-feedback">
                            Valid region is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-city-np-to-branch" id="order-delivery-city" placeholder="Enter city" value="" required="">
                        <div class="invalid-feedback">
                            Valid city is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-street-np-to-door" id="order-delivery-street" placeholder="Enter street" value="" required="">
                        <div class="invalid-feedback">
                            Valid street is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-building-np-to-door" id="order-delivery-building" placeholder="Enter building №" value="" required="">
                        <div class="invalid-feedback">
                            Valid building number is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-apartment-np-to-door" id="order-delivery-apartment" placeholder="Enter ap №" value="" required="">
                        <div class="invalid-feedback">
                            Valid apartment number is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-office-np-to-branch" id="order-delivery-post-office" placeholder="Enter post office №" value="" required="">
                        <div class="invalid-feedback">
                            Valid post office № is required.
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mt-3 mb-3">
                        <input type="text" class="form-control rounded-0" name="order-delivery-zipcode-ukrp-to-door" id="order-delivery-zipcode" placeholder="Enter zip code №" value="" required="">
                        <div class="invalid-feedback">
                            Valid zip code № is required.
                        </div>
                    </div>
                </div>
              </div>
              <!--Collapse delivery info -->
    <!--Delivery information block -->

    <!--Payment information block -->
              <span class="row mt-3 hb-main-menu-background-color" style="height:35px;">
                  <h4 class="mx-auto mt-1 align-middle" style="color:white;">Payment type</h4>
              </span>
              <div class="container mt-3" style="float:left;">
                <div class="form-check mt-2">
                  <input id="ordr-pay-visa-mstrcrd" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-visa-mstrcrd">Visa / Mastercard</label>
                </div>
                <div class="form-check mt-2">
                  <input id="ordr-pay-applepay" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-applepay">ApplePay</label>
                </div>
                <div class="form-check mt-2">
                  <input id="ordr-pay-googlepay" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-googlepay">GooglePay</label>
                </div>
                <div class="form-check mt-2">
                  <input id="ordr-pay-paypal" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-paypal">PayPal</label>
                </div>
                <div class="form-check mt-2">
                  <input id="ordr-pay-bycard" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-bycard">Pay by card</label>
                </div>
                <div class="form-check mt-2">
                  <input id="ordr-pay-cash-on-del" name="ordr-payment-type" type="radio" class="form-check-input" required="">
                  <label class="form-check-label" style="float:left;" for="ordr-pay-cash-on-del">Cash on delivery</label>
                </div>
              </div>
    <!--Payment information block -->

              <div class="row col-12 mt-5 mx-auto">
                  <button type="submit" class="btn btn-dark col-5 rounded-0 mx-auto position-relative mt-5" id="pop-order-checkout" style="font-family: IBM Plex Mono;">{% trans 'Checkout' %}</button>
              </div>

            </form>
        </section>
    </div>
</div>
