asgiref==3.5.1
beautifulsoup4==4.11.1
Django==4.0.4
django-bootstrap-v5==1.0.11
django-cuser==2017.3.16
django-environ==0.8.1
django-jsonview==2.0.0
django-modeltranslation==0.18.2
django-resized==1.0.0
django-solo==2.0.0
django-tinymce==3.4.0
Pillow==9.1.1
python-dotenv==0.20.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
