html, body {
    height: 100%;
    overflow-x: hidden;
}

/*  FONTS  */

@font-face {
    font-family: "IBM Plex Mono";
    src: url(https://fonts.googleapis.com/css?family=IBM Plex Mono) format("truetype");
}

.customfont {
    font-family: "IBM Plex Mono", Verdana, Tahoma;
}

/*  NAVBAR  */

.hb-navbar-font {
    font-family: 'IBM Plex Mono';
}

.hb-main-menu-color {
    color: 	#181818 !important;
}

.hb-main-menu-background-color {
    background-color:   #D3D3D3 !important;
}

.hb-navbar-black {
    color: #BEBEBE !important;
}

.hb-main-menu-color:hover,
.hb-main-menu-color:focus {
    color: rgba(255, 255, 255, 0.75) !important;
    background-contacts: rgba(100, 100, 100);
}

.hb-gallery {
     height: 55px;
     margin-top: -5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav > li > a {
    padding-bottom: 5px;
}

.hb-mobile-cart {
    font-size: 1em;
    margin-top: 10px;
    margin-left: 15px;
    height: 20px;
    color:  #D3D3D3 !important;

}
/*  NAVBAR  */

/*  FOOTER  */
.footer-border-color-grey {
    border-color: #BEBEBE !important;
}

.footer-border-color-black {
    border-color: #202020 !important;
}
/*  FOOTER  */

/*  CART  */
.bg-cart-modal-color {
      background-color: #F5F5F5 !important;
}

.product-details {
  padding: 10px;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.line {
  border-bottom: 1px solid rgb(102,102,221);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}


[type="radio"] {
  background-color: #BEBEBE !important;
  border: 2px solid #BEBEBE !important;
  border-radius: 0% !important!;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0.0rem rgba(255, 255, 255, 0) !important;
}

[type="checkbox"] {
  background-color: #BEBEBE !important;
  border: 2px solid #BEBEBE !important;
  border-radius: 0% !important!;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0.0rem rgba(255, 255, 255, 0) !important;
  cursor-color: black !important;
}
/*  CART  */

/*  ITEM  */
#carouselHumanControls .carousel-item img {
object-fit: cover;
object-position: center;
height: auto;
overflow: hidden;
}

.other-item-image {
    height: 150px;
    margin: 0.5em;

}

.carousel-indicators{
    list-style: none;
}

.carousel-indicators li, .carousel-indicators li.active{
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: relative;
    margin: 10px;
}

.carousel-indicators img{
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;
}
/*  ITEM  */

/*  CATEGORY  */
.form-check-input:checked {
    background-color: #181818;
    border-color: #BEBEBE;
}

.form-switch .form-check-input {
  background-color: #BEBEBE;
}

.form-switch .form-check-input:focus {
  background-color: #BEBEBE;
}
/*  CATEGORY  */

/* CATEGORY toggler */
.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  text-align: center;
  display: block;
}

.slider {
  position: relative;
  display: block;
}

.slider:before {
  content: "";
  position: absolute;
}
/* CATEGORY toggler */


.collection-template__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.collection-template--column-view .collection-template__products {
    display: flex;
    flex-wrap: wrap;
}

.container--wide {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.product-card__image {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding-bottom: 2rem !important;

}

.product-card__title {
    font-size: calc(3vw + 3vh);
    float:left;
    margin-top: 0;
    margin-bottom: 0rem !important;
    text-align: center;
}

.item-price-category-page {
    float:left;
    text-transform: uppercase;
    font-size: 12px;
    color: #181818;
    line-height: 1.6;
}

.feefo-product-stars-widget {
    margin-top: 7px;
}

.add-to-cart-button {
    font-family: IBM Plex Mono;
    height: 70%;
    width: auto;
    font-size: auto;
    float:right
}

.item-name-in-category-page {
    grid-auto-rows: inherit;
    float:left !important;
    margin-right: 10%;
    white-space: nowrap;
    font-size: 15px;
    text-align: center;
    font-family: IBM Plex Mono;
    float: left !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0rem;
    margin-top: 2px;
}

.row-full{
 width: 100%;
}

.size_button {
    border: 0px;
    height:30px;
}

.size_button_img {
    height:30px;
}

@media screen and (min-width: 870px) {
.item-name-in-category-page {
    font-size: 20px;
    }
}

@media screen and (max-width: 870px) {
.item-name-in-category-page {
    font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
.item-name-in-category-page {
    font-size: 13px;
    }
}

@media screen and (max-width: 300px) {
.item-name-in-category-page {
    font-size: 10px;
    }
}

@media screen and (max-width: 870px) {
.item-price-category-page {
    font-size: 11px;
    }
}

@media screen and (max-width: 550px) {
.item-price-category-page {
    font-size: 9px;
    }
}

@media screen and (max-width: 300px) {
.item-price-category-page {
    font-size: 7px;
    }
}

@media screen and (max-width: 370px) {
.size_button {
    border: 0px;
    height:25px;
    }
}

@media screen and (max-width: 370px) {
.size_button_img {
    height:25px;
    }
}


@media screen and (max-width: 325px) {
.size_button {
    border: 0px;
    height:20px;
    }
}

@media screen and (max-width: 325px) {
.size_button_img {
    height:30px;
    }
}

@media screen and (max-width: 330px) {
.hb-gallery {
     height: 35px;
     margin-top: -5px;
}

@media screen and (max-width: 330px) {
.other-item-image {
    height: 30px;
}

@media screen and (max-width: 500px) {
.other-item-image {
    height: 60px;
}

@media screen and (max-width: 700px) {
.other-item-image {
    height: 100px;
}

@media screen and (max-width: 900px) {
.other-item-image {
    height: 120px;
}

@media screen and (max-width: 1080px) {
.other-item-image {
    height: 140px;
}
