html, body {
    height: 100%;
    overflow-x: hidden;
}

/*  FONTS  */

@font-face {
    font-family: "IBM Plex Mono";
    src: url(https://fonts.googleapis.com/css?family=IBM Plex Mono) format("truetype");
}

.customfont {
    font-family: "IBM Plex Mono", Verdana, Tahoma;
}

/*  NAVBAR  */

.hb-navbar-font {
    font-family: 'IBM Plex Mono';
}

.hb-main-menu-color {
    color: 	#181818 !important;
}

.hb-main-menu-background-color {
    background-color:   #D3D3D3 !important;
}

.hb-navbar-black {
    color: #BEBEBE !important;
}

.hb-main-menu-color:hover,
.hb-main-menu-color:focus {
    color: rgba(255, 255, 255, 0.75) !important;
    background-contacts: rgba(100, 100, 100);
}

.hb-gallery {
     height: 35px;
     margin-top: -5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav > li > a {
    padding-bottom: 5px;
}

.hb-mobile-cart {
    font-size: 1em;
    margin-top: 10px;
    margin-left: 15px;
    height: 20px;
    color:  #D3D3D3 !important;

}
/*  FOOTER  */

.footer-border-color-grey {
    border-color: #BEBEBE !important;
}

.footer-border-color-black {
    border-color: #202020 !important;
}

/*  CART  */

.bg-cart-modal-color {
      background-color: #F5F5F5 !important;
}

.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.line {
  border-bottom: 1px solid rgb(102,102,221);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}


[type="radio"] {
  background-color: #BEBEBE !important;
  border: 2px solid #BEBEBE !important;
  border-radius: 0% !important!;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0.0rem rgba(255, 255, 255, 0) !important;
}

[type="checkbox"] {
  background-color: #BEBEBE !important;
  border: 2px solid #BEBEBE !important;
  border-radius: 0% !important!;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0.0rem rgba(255, 255, 255, 0) !important;
  cursor-color: black !important;
}

/*  ITEM  */

#carouselHumanControls .carousel-item img {
object-fit: cover;
object-position: center;
height: auto;
overflow: hidden;
}

.form-check-input:checked {
    background-color: #181818;
    border-color: #BEBEBE;
}

.form-switch .form-check-input {
  background-color: #BEBEBE;

}
.form-switch .form-check-input:focus {
  background-color: #BEBEBE;
}
/*  CATEGORY  */

/* toggler*/
.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  text-align: center;
  display: block;
}

.slider {
  position: relative;
  display: block;
}

.slider:before {
  content: "";
  position: absolute;
}
/* toggler*/


.collection-template__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.collection-template--column-view .collection-template__products {
    display: flex;
    flex-wrap: wrap;
}

.container--wide {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.product-card__image {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding-bottom: 2rem !important;

}

.product-card__title {
    font-size: calc(3vw + 3vh);
    float:left;
    margin-top: 0;
    margin-bottom: 0rem !important;
    text-align: center;
}

.item-price-category-page {
    float:left;
    text-transform: uppercase;
    font-size: 15px;
    color: #181818;
    line-height: 1.6;
}

.feefo-product-stars-widget {
    margin-top: 7px;
}

.add-to-cart-button {
    font-family: IBM Plex Mono;
    height: 70%;
    width: auto;
    font-size: auto;
    float:right
}

.item-name-in-category-page {
    white-space: nowrap ;
    font-size: 4vw;
    text-align: center;
    font-family: IBM Plex Mono !important;
    float: left !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0rem !important;
}

.row-full{
 width: 100%;
}
